{{!-- {{#each galleries as |gallery|}}
{{> gallery-details}}
{{/each}} --}}

<link rel="stylesheet" href="css/calendar.css">

<h1>Jacob's Calendar</h1>

<div id="calendar">

</div>

<script src="js/calendar.js"></script>