<section class="form-container" >
    <form id="login-form">
        <h2>Login to Beauty</h2>
        <div>
            <label for="username">Username</label>
            <input type="text"  id="username" placeholder="Enter username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password"  id="password" placeholder="Password">
        </div>
        <button type="submit" >Login</button>
        <p>Don't have an account? <a href="/register">Sign up here</a></p>
    </form>
{{> errorModal }}
</section>

<script src="/js/login.js"></script>