<section class="hero-section d-flex align-items-center text-center">
    <div class="container welcome_center_content_">
        <h1 class="display-4 fw-400_ ff-cormorant_ fs-3_4_">Welcome to Beauty Paradise Salon Booking</h1>
        <p class="lead ff-lato_ fw-400_">Book your salon appointments with ease and convenience</p>
        <p class="ff-lato_ fw-300_">Choose from a range of services and staff members to find the perfect fit for your needs</p>
        <a class="btn btn-lg btn_ mx-2" href="/login" role="button">Login</a>
        <a class="btn btn-lg btn_ mx-2" href="/register" role="button">Sign Up</a>
    </div>
</section>